# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# env files
.env

raw_data
output
/outputs
/output